<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.learning.courseservice.mapper.CertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.learning.courseservice.entity.CertEntity">
        <id column="ID" property="id"/>
        <result column="course" property="course"/>
        <result column="cert" property="cert"/>
        <result column="created" property="created"/>
        <result column="tem" property="tem"/>
        <result column="user" property="user"/>
        <result column="phone" property="phone"/>
        <result column="idNum" property="idNum"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, course, cert, created, tem,user,idNum
    </sql>

</mapper>
