<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.learning.gatewayservice.mapper.GatewayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.learning.gatewayservice.entity.GatewayEntity">
        <id column="ID" property="id"/>
        <result column="username" property="username"/>
        <result column="req_add" property="reqAdd"/>
        <result column="req_method" property="reqMethod"/>
        <result column="req_ip" property="reqIp"/>
        <result column="ua" property="ua"/>
        <result column="req_controller" property="reqController"/>
        <result column="req_name" property="reqName"/>
        <result column="req_code" property="reqCode"/>
        <result column="errorinfo" property="errorinfo"/>
        <result column="ContentType" property="contentType"/>
        <result column="ContentLength" property="contentLength"/>
        <result column="uri" property="uri"/>
        <result column="jwt" property="jwt"/>
        <result column="req_time" property="reqTime"/>
        <result column="res_time" property="resTime"/>
        <result column="ms" property="ms"/>
        <result column="isBan" property="isBan"/>
        <result column="banTime" property="banTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID
        , username, req_add, req_method, req_ip, ua, req_controller, req_name, req_code, errorinfo, ContentType, ContentLength, uri, jwt, req_time, res_time, ms, isBan, banTime
    </sql>

</mapper>
