<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.learning.contentsservice.mapper.ACommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.learning.contentsservice.entity.ACommentEntity">
        <id column="ID" property="id"/>
        <result column="content" property="content"/>
        <result column="user" property="user"/>
        <result column="article" property="article"/>
        <result column="created" property="created"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, content, user, article, created
    </sql>

</mapper>
