<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.learning.contentsservice.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.learning.contentsservice.entity.ArticleEntity">
        <id column="ID" property="id"/>
        <result column="type" property="type"/>
        <result column="visit" property="visit"/>
        <result column="collection" property="collection"/>
        <result column="like" property="like"/>
        <result column="comment" property="comment"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="content" property="content"/>
        <result column="title" property="title"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, type, visit, collection, like, comment, created, updated, content, title
    </sql>

</mapper>
